<%= form_for @author, :html => { :multipart => true } do |f| %>
<%= render 'shared/error_messages', :object => f.object %>	
	<div class="cartela round">
		<div class= "cartela_corner round">
            <div class= "board_avatar">
                <%= image_tag @author.photo.url(:regular) %>
                <%= f.file_field :photo %>
            </div> 
        </div> 
        <div class= "user_board">
            <%= form_for @micropost do |f| %>
                <%= f.text_area :content, :maxlength => 200, 
                placeholder: '"escreva aqui um pensamento"', :class => "round" %>
                <div class= "count_micropost">
                    <div id= "count">200</div>
                </div>
                <%= f.text_field :origem, placeholder: "origem da raspa" %>
                <%= f.text_field :tag_names, placeholder: "temas envolvidos" %>
            <% end %>
        </div>
    </div>
    <div class="cartela round">
        <div class= "cartela_corner round">
            <div class= "board_avatar">
                <div class= "field">
                    <%= f.text_field :name, placeholder: " nome do pensador", :class => "round field_info" %>
                    <%= f.text_field :job, placeholder: " ocupação principal", :class => "round field_info" %>
                    <%= f.text_field :tipo, placeholder: " alguma especialidade", :class => "round field_info" %>
                    <%= f.text_field :origin, placeholder: " cidade de origem", :class => "round field_info" %>
                </div>
            </div>
        </div>
        <div class= "field">
            <%= f.text_area :bio, maxlength: 300, placeholder: " escreva aqui uma descrição sobre este pensador", 
            :class => "round", id: "bio" %>
            <div class= "count">
                <div id= "count">300</div>
            </div>
        </div>
    </div>
    <div class= "edit_account">
        <ul>
            <li>
                <%= submit_tag "criar ídolo e enviar pensamento", :alt => "criar pensador", :class => "but round" %>
            </li>
        </ul>
    </div>
<% end %>