<div class= "origin_card">
  <div class= "origin_card_avatar">
    <%= link_to image_tag(poem.image_url), poem %>
  </div>
  <div class= "origin_card_info">
    <div class= 'origin_type'>
      <%= link_to (image_tag 'poem.png', alt: 'poema'), poem %>
    </div>
    <div class= "origin_card_name relative">
      <%= link_to poem.name, poem %><br />
      <% if poem.author.present? %>
        { <%= link_to poem.author.name, poem.author, class: "origin_author" %><br />
      <% else %>
        { <%= link_to poem.user.name, poem.user, class: "origin_author" %><br />
      <% end %>
    </div>
  </div>
</div>
