<div class= "origin_card">
  <div class= "origin_card_avatar">
    <%= link_to image_tag(poem.image_url(:regular)), poem %>
  </div>
  <div class= "origin_card_info">
    <div class= 'origin_type'>
      <%= link_to (image_tag 'poem.png'), poem %>
    </div>
    <div class= "origin_card_name relative">
      <%= link_to poem.name, poem %><br />
      <% if poem.author.present? %>
        { <%= poem.author.name %><br />
      <% else %>
        { <%= poem.user.name %><br />
      <% end %>
    </div>
  </div>
</div>
