<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class= "field">
		<br /><br />
		<%= f.text_field :email, placeholder: " e-mail", :class => "round" %>

		<%= f.password_field :password, placeholder: " senha", :class => "round password" %>

		<%= submit_tag "entrar", :alt => "entrar", :class => "but round" %>
		<div class= "yet">
			<p>
				<%= link_to "Esqueceu sua senha?", contact_path %> Não tem problema, são tantas.
				<br />Ainda não participa do Raspas? <%= link_to "Cadastre-se", signup_path %>. É rápido.
			</p>
		
		</div>
	</div>
<% end %>