<% if @authors.empty? %>
	<div class= "title">
		<p class= "p_search">nenhum pensador encontrado</p>
		<%= link_to "| explorar pensadores", authors_path %>
		<%= link_to "criar perfil para #{(params[:query].titlecase)} ", new_author_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= @authors.count %> pensadores</p>
		<%= link_to "explorar + pensadores", authors_path %>
	</div>
	<div class= "home">
		<ul class="users">
			<li><%= render @authors %></li>
		</ul>
	</div>
<% end %>