<% if @tags.empty? %>
	<div class= "title">
		<p class= "p_search">nenhum tema encontrado</p><%= link_to "explorar temas", tags_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= pluralize @tags.count, "tema" %></p>
		<%= link_to "explorar + temas", tags_path %>
	</div>
	<div class= "home">
		<div class= "tag_word">
			<% @tags.each do |tag| %>
				<div class= "tag_index">
			  		<%= link_to tag.name, tag, class: "but round" %><p class= "p_tags">x <%= tag.taggings.count %></p>
				</div>  	
		  	<% end %>
		</div>
	</div>
<% end %>
<% if @authors.empty? %>
	<div class= "title">
		<p class= "p_search">nenhum pensador encontrado</p>
		<%= link_to "| explorar pensadores", authors_path %>
		<%= link_to "criar perfil para #{(params[:query].titlecase)} ", new_author_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= @authors.count %> pensadores</p>
		<%= link_to "explorar + pensadores", authors_path %>
	</div>
	<div class= "home">
		<ul class="users">
			<%= render @authors %>
		</ul>
	</div>
<% end %>
<% if @users.empty? %>
	<div class= "title">
		<p class= "p_search">nenhum usuário encontrado</p>
		<%= link_to "explorar usuários", users_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= pluralize @users.count, "usuário" %></p>
		<%= link_to "explorar + usuários", users_path %>
	</div>
	<div class= "home">
		<ul class="users">
			<%= render @users %>
		</ul>
	</div>
<% end %>
<% if @origins.empty? %>
	<div class= "title">
		<p class= "p_search">nenhuma fonte encontrada</p>
		<%= link_to "explorar origens", origins_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= pluralize @origins.count, "fonte" %></p>
		<%= link_to "explorar + fontes", origins_path %>
		<%= link_to "criar página para #{(params[:query].titlecase)} ", new_origin_path %>
	</div>
	<div class= "home">
		<ul class="users">
			<%= render @origins %>
		</ul>
	</div>
<% end %>
<% if @microposts.empty? %>
	<div class= "title">
		<p class= "p_search">nenhuma raspa encontrada</p>
		<%= link_to "explorar raspas", microposts_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= pluralize @microposts.count, "raspa" %></p>
		<%= link_to "explorar + raspas", microposts_path %>
	</div>
	<div class= "home">
		<br>
		<ul class="users">
			<%= render @microposts %>
		</ul>
	</div>
<% end %>