<% if @tags.empty? %>
	<div class= "title">
		<p class= "p_search">nenhum tema encontrado</p><%= link_to "explorar temas", tags_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= pluralize @tags.count, "tema" %></p>
		<%= link_to "explorar + temas", tags_path %>
	</div>
	<div class= "home">
		<div class= "tag_word">
			<% @tags.each do |tag| %>
				<div class= "tag_index">
			  		<%= link_to tag.name, tag, class: "but round" %><p class= "p_tags">x <%= tag.taggings.count %></p>
				</div>  	
		  	<% end %>
		</div>
	</div>
<% end %>

<% if @authors.empty? %>
	<div class= "title">
		<p class= "p_search">nenhum pensador encontrado</p>
		<%= link_to "| explorar pensadores", authors_path %>
		<%= link_to "criar perfil para #{(params[:search].titlecase)} ", new_author_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= @authors.count %> pensadores</p>
		<%= link_to "explorar + pensadores", authors_path %>
	</div>
	<div class= "home">
		<ul class="users">
			<li><%= render @authors %></li>
		</ul>
	</div>
<% end %>

<% if @users.empty? %>
	<div class= "title">
		<p class= "p_search">nenhum usu치rio encontrado</p>
		<%= link_to "explorar usu치rios", users_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= pluralize @users.count, "usu치rio" %></p>
		<%= link_to "explorar + usu치rios", users_path %>
	</div>
	<div class= "home">
		<ul class="users">
			<li><%= render @users %></li>
		</ul>
	</div>
<% end %>

<% if @microposts.empty? %>
	<div class= "title">
		<p class= "p_search">nenhuma raspa encontrada</p>
		<%= link_to "explorar raspas", microposts_path %>
	</div>
<% else %>
	<div class= "title">
		<p class= "p_search">encontramos <%= pluralize @microposts.count, "raspa" %></p>
		<%= link_to "explorar + raspas", microposts_path %>
	</div>
	<div class= "home">
		<br>
		<ul class="users">
			<li><%= render @microposts %></li>
		</ul>
	</div>
<% end %>