<div class= "user_card">
	<div class= "user_gravatar_card">
		<%= link_to image_tag(author.photo.url(:regular)), author %>
	</div>
	<div class= "user_card_info">
		<div class= "user_card_name">
			<%= link_to author.name, author %>
			<%= author.job if author.job? %>	
		</div>
		<div id= "fans" class= "stats">
			<p class= "p_stats">f찾s</p> 
			<%= link_to (image_tag "ico_star.png"), fans_author_path(author), :alt => "f채s", :class => "ico round" %>
			<%= link_to author.fans.count, fans_author_path(author), :class => "but round", 
			title: "ver f채s de #{author.name}" %>
		</div>
		<div class= "stats">
			<p class= "p_stats">raspas</p>
			<%= link_to (image_tag "ico_raspas.png"), author,  :alt => "raspas", :class => "ico round" %>
			<%= link_to author.microposts.count, author, :class => "but round", 
			title: "ver raspas de #{author.name}" %>
		</div>
		<div id= "fans" class= "stats">
			<p class= "p_stats">favoritos</p> 
			<%= link_to (image_tag "ico_heart.png"), author, :alt => "f채s", :class => "ico round" %>
			<%= link_to author.eleitas.count, author, :class => "but round", 
			title: "#{author.name} recebeu #{author.eleitas.count} favoritos" %>
		</div>
	</div>
</div>