<div class= "user_info">
	<div class= "user_avatar">
		<%= link_to (image_tag @author.photo.url(:regular)), edit_author_path %>
	</div>
	<div class= "user_info">
		<div class= "user_info_board round">
			<div class= "name_edit">
				<p><%= @author.name %></p>
				<%= link_to (image_tag "edit.png"), edit_author_path %>
			</div>
			<% if @author.job? %>
				<%= @author.job  %></br>
			<% end %>
			<% if @author.tipo? %>
				<%= @author.tipo %></br>
			<% end %>
			<% if @author.origin? %>
				<%= @author.origin %></br>
			<% end %>
			<%= render 'fan_form' %>
		</div>
		<div class= "user_info_board round" >
			<%= render 'stats' %>
		</div>
		<% if @author.bio? %>
			<div class= "user_info_board round" >
				<div class= "bio">
					<%= @author.bio %>
				</div>
			</div>
		<% end %>
		<% if !@tags.empty? %>
			<div class= "user_info_board round">
				<div class= "last_header">
					<p class="p_tag">temas</p> <p class= "p_tags"> escritos</p>
			        <p class= "p_mais"><%= link_to "+", tags_author_path(@author), title: "ver todos os temas de #{@author.name}" %></p>
			    </div>
				<div>
					<% @tags.first(20).each do |tag| %>
					  <div>
					    <%= link_to tag.name, tag, 
					    title: "ver + raspas sobre #{tag.name}", :class => "but round temas" %>
					  </div>
					<% end %>
				</div>
			</div>
		<% end %>
		<% if !@users.empty? %>
		<div class= "user_info_board round">
			<div class= "last_header">
				<p class="p_tag">citado</p><p class= "p_tags"> pelos</p><p class="p_tag"> usuários</p>
		        <p class= "p_mais"><%= link_to "+", users_author_path(@author), title: "ver todos os usuários que já citaram #{@author.name}" %></p>
	    	</div>
			<div>
				<% @users.first(4).each do |user| %>
			        <div class= "last">
			            <%= link_to image_tag(user.photo.url(:tiny)), user, title: "ver perfil de #{user.name}" %>
			            <p><%= link_to user.name, user, title: "ver perfil de #{user.name}" %></p>
			        </div>
		        <% end %>
			</div>
		</div>
	<% end %>
	</div>
</div>