<%= form_for @author, :html => { :multipart => true } do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>  
    <div class="cartela round">
        <div class= "cartela_corner round">
            <div class= "board_avatar">
                <%= image_tag @author.image_url(:regular).to_s %>
                <%= f.file_field :image %>
            </div> 
        </div>
        <div class= "board_avatar">
            <div class= "field">
                <%= f.text_field :name, placeholder: " nome do pensador", :class => "round field_info" %>
                <%= f.text_field :job, placeholder: " ocupação principal", :class => "round field_info" %>
                <%= f.text_field :tipo, placeholder: " alguma especialidade", :class => "round field_info" %>
                <%= f.text_field :origin, placeholder: " cidade de origem", :class => "round field_info" %>
            </div>
        </div>
        <div>
            <%= f.text_area :bio, maxlength: 320, placeholder: " descrição do autor", 
            :class => "round", id: "bio" %>
        </div>
        <div class= "count_bio">
            <div id= "count_bio">320</div>
        </div>
    </div>
    <div class= "author_create">
        <%= submit_tag "pronto", :alt => "atualizar", :class => "but round" %>
    </div>
<% end %>