<%= form_for @author, :html => { :multipart => true } do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>  
    <div class="cartela round">
        <div class= "cartela_corner round">
            <div class= "board_avatar">
                <%= image_tag @author.image_url(:regular).to_s %>
                <%= f.file_field :image, class: "round" %>
            </div> 
        </div>
        <div class= "board_avatar">
            <div class= "field">
                <%= f.text_field :name, placeholder: " nome do pensador", :class => "round field_info" %>
                <%= f.text_field :job, placeholder: " ocupação principal", :class => "round field_info" %>
                <%= f.text_field :origin, placeholder: " local de origem", :class => "round field_info" %>
                <%= f.text_field :tipo, placeholder: " nascimento - posteridade", :class => "round field_info" %>
            </div>
        </div>
        <div>
            <%= f.text_area :bio, maxlength: 680, placeholder: " breve descrição de #{@author.name}", 
            :class => "round", id: "bio", title: "escreva aqui uma descrição para este pensador" %>
        </div>
        <div class= "count_bio">
            <div id= "count_bio">680</div>
        </div>
    </div>
    <div class= "update">
        <%= submit_tag "pronto", :alt => "atualizar", :class => "but round" %>
    </div>
    <div class= "update_">
        <% if @author %>
            <%= link_to "voltar", @author, class: "but round", title: "voltar para o perfil de #{@author.name}" %> 
        <% end %>
    </div>
<% end %>