<div class="raspas"> 
  <div class="user_info">
    <%= render 'author_info' %>
  </div>
  <div class="stack">
    <%# if @author %>
      <%# unless @author.published? %>
        <!-- <div class="half_quotes round">
          <div class= "sign">
            O perfil de <%= @author.name %> é recente e está sob análise.<br />
            Não gosta do que está vendo? Marque como abusivo!
          </div>
          <div class= "flag_sign">
            <%#= link_to (image_tag "flag_sign.png"), @author %>
          </div>
        </div> -->
      <%# end %> 
    <%# end %> 
    <% unless @author.microposts.empty? %>
      <%= render @microposts %>
    <% else %>
      <div class= "half_quotes round">
        <div class= "sign">
          Nada por aqui! <%= @author.name %> está em baixa...<br />
          Explore as raspas de outros <%= link_to "pensadores", authors_path %>.
        </div>
        <div class= "flag_sign">
          <%= image_tag "sad.png" %>
        </div>
      </div>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>