<%= image_tag @author.image_url.to_s, :class => "author_back" %>
<div class="raspas"> 
  <div class="user_info">
    <%= render 'author_info' %>
  </div>
  <div class="stack">
    <%# if @author %>
      <%# unless @author.published? %>
        <!-- <div class="half_quotes round">
          <div class= "sign">
            O perfil de <%= @author.name %> é recente e está sob análise.<br />
            Não gosta do que está vendo? Marque como abusivo!
          </div>
          <div class= "flag_sign">
            <%#= link_to (image_tag "flag_sign.png"), @author %>
          </div>
        </div> -->
      <%# end %> 
    <%# end %>
    <% if signed_in? %>
      <% if @author.image.blank? %>
        <div class="half_quotes round">
          <div class= "sign">
            Dica: Que tal uma foto bacana para o hall da fama?<br />
            Edite <%= @author.name %> pela engrenagem ao lado do nome!
          </div>
          <div class= "flag_sign">
            <%= image_tag "happy.png" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class ="welcome_space"></div>
      <%= render 'shared/welcome' %>
    <% end %>
    <div>
      <% unless @author.microposts.empty? %>
        <%= render @microposts %>
      <% else %>
        <div class= "half_quotes round">
          <div class= "sign">
            Nada por aqui! <%= @author.name %> está em baixa...<br />
            Explore as raspas de outros <%= link_to "pensadores", authors_path %>.
          </div>
          <div class= "flag_sign">
            <%= image_tag "sad.png" %>
          </div>
        </div>
        <%= will_paginate @microposts %>
      <% end %>
    </div>  
  </div>
</div>