<div class="raspas">
	<div class="author_info">
		<%= render 'author_info_favourites' %>
	</div>	
	<div class= "stack">
		<% if @eleitas.empty? %>
			<div class="half_quotes round">
				<div class= "sign">
					Nada aqui? <%= link_to @author.name, @author %> deve estar se remoendo!<br />
					Que tal uma ajudinha? Visite o seu <%= link_to "perfil", @author %> e marque uma favorita.<br />
				</div>
				<div class= "flag_sign">
					<%= image_tag "dull.png" %>
				</div>
			</div>
		<% else %>
			<%= render @eleitas %>
		<% end %>
	</div>
	<%#= will_paginate @eleitas %>
</div>