<%= form_for @user, :html => { :multipart => true } do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>	
	<div class="cartela round">
    	<div class= "cartela_corner round">
    		<div class= "board_avatar">
      			<%= image_tag @user.image_url(:regular).to_s %>
	          	<%= f.file_field :image, class: "round" %>
	        </div>
    	</div>
		<div class= "board_avatar">
			<div class= "field">
	    		<%= f.text_field :name, placeholder: " nome e sobrenome", :class => "round field_info" %>
	    		<%= f.text_field :job, placeholder: " ocupação principal", :class => "round field_info" %>
	    		<%= f.text_field :origin, placeholder: " local de origem", :class => "round field_info" %>
	    		<%= f.text_field :email, placeholder: " um e-mail válido", :class => "round field_info" %>
    		</div>
    	</div>
    	<div>		
	    	<%= f.text_area :bio, maxlength: 680, placeholder: " escreva aqui uma breve descrição", :class => "round", id: "bio", 
	    	 title: "escreva aqui uma descrição para #{@user.name}" %>
		</div>
		<div class= "count_bio">
			<div id= "count_bio">680</div>
		</div>
	</div>
	<div class= "update actions">
		<%= submit_tag "pronto", :alt => "atualizar", :class => "but round" %>
	</div>
	<div class= "update_">
		<% if current_user %>
	      <%= link_to "apagar conta", current_user, 
	                                              :class => "but round",
	                                              :method => :delete, 
	                                              :confirm => "têm certeza que deseja remover o usuário permanentemente?",
	                                              :title => "deixar o raspas?" %>
	    <% end %>
	</div>
<% end %>
	