<% if current_user?(@user) %>
	<div id= "feed" class= "stats">
		<p class= "p_stats">mural</p>
		<%= link_to (image_tag "ico_mural.png"), root_path, :alt => "raspas", :class => "round" %>
		<%= link_to @user.feed.count, root_path, :class => "but round", 
		title: "ver raspas + recentes" %>
	</div>
<% end %>
<div id= "following" class= "stats">
	<p class= "p_stats">seguindo</p>
	<%= link_to (image_tag "ico_following.png"), following_user_path(@user), :alt => "raspas", :class => "round" %>
	<%= link_to @user.following.count, following_user_path(@user), :class => "but round", 
	title: "ver usuários seguidos por #{@user.name}" %>
</div>
<div id= "followers" class= "stats">
	<p class= "p_stats">seguidores</p>
	<%= link_to (image_tag "ico_followers.png"), followers_user_path(@user), :alt => "raspas", :class => "round" %>
	<%= link_to @user.followers.count, followers_user_path(@user), :class => "but round", 
	title: "ver seguidores de #{@user.name}" %>
</div>
<div class= "stats">
	<p class= "p_stats">ídolos</p> 
	<%= link_to (image_tag "ico_star.png"), idols_user_path(@user), :alt => "ídolos", :class => "round" %>
	<%= link_to @user.idols.count, idols_user_path(@user), :class => "but round", 
	title: "ver ídolos de #{@user.name}" %>
</div>