<div class= "user_card">
	<div class= "user_gravatar_card">
		<%= link_to image_tag(user.photo.url(:regular)), user %>
	</div>

	<div class= "user_card_info">
		<div class= "user_card_name">
			<%= link_to user.name, user %>
			<%= user.job if user.job? %>
		</div>
		<div class= "stats">
			<p class= "p_stats">raspas</p>
			<%= link_to (image_tag "ico_raspas.png"), user, :alt => "raspas", :class => "round" %>
			<%= link_to user.microposts.count, user, :class => "but round", 
			title: "ver raspas de #{user.name}" %>
		</div>
		<div class= "stats">
			<p class= "p_stats">favoritas</p>
			<%= link_to (image_tag "ico_heart.png"), user, :alt => "raspas", :class => "round" %>
			<%= link_to user.eleitas.count, favourites_user_path(user), :class => "but round", 
			title: "ver raspas de #{user.name}" %>
		</div>
		<div class= "stats">
			<p class= "p_stats">ídolos</p> 
			<%= link_to (image_tag "ico_star.png"), idols_user_path(user), :alt => "ídolos", :class => "round" %>
			<%= link_to user.idols.count, idols_user_path(user), :class => "but round", 
			title: "ver ídolos de #{user.name}" %>
		</div>
		<div id= "followers" class= "stats">
			<p class= "p_stats">seguidores</p>
			<%= link_to (image_tag "ico_followers.png"), followers_user_path(user), :alt => "raspas", :class => "round" %>
			<%= link_to user.followers.count, followers_user_path(user), :class => "but round", 
			title: "ver seguidores de #{user.name}" %>
		</div>
	</div>
</div>