<div class= "user_info">
	<div class= "user_avatar">
		<%= image_tag @user.image_url(:regular).to_s %>
	</div>
	<div class= "user_info_board round" >
		<div class= "name_edit">
			<p><%= link_to @user.name, @user %></p>
			<% if signed_in? %>
				<% if current_user?(@user) %>	
					<%= link_to (image_tag "edit.png"), edit_user_path(current_user) %>
				<% end %>
			<% end %>
		</div>
		<% if @user.job? %>
			<%= @user.job %><br />
		<% end %>
		<% if @user.tipo? %>
			<%= @user.tipo %><br />
		<% end %>
		<% if @user.origin? %>
			<%= @user.origin %><br />
		<% end %>		
		<%= render 'follow_form' if signed_in? %>
	</div>
	<% if @user.bio? %>
		<div class= "user_info_board round">
			<div class= "bio">
				<%= @user.bio %>
			</div>
		</div>
	<% end %>
	<div class= "user_info_board round" >
		<%= render 'stats_raspas' %>
	</div>
	<div class= "user_info_board round" >
		<%= render 'stats_relations' %>
	</div>
</div>