<div class= "user_bar">
	<% @user ||= current_user %>
		<div class= "board_avatar">
			<%= link_to image_tag(@user.photo.url(:regular)), current_user %>
		</div>
		<div class= "user_board">
			<%= form_for @micropost do |f| %>
				<%= f.text_area :content, :maxlength => 240, placeholder: '"escreva aqui um pensamento"' %>
				<div class= "count_micropost">
					<div id= "count">240</div>
				</div>
				<%= f.text_field :author_name, data: {autocomplete_source: authors_path}, placeholder: "autor original" %>
				<%= f.text_field :origem, placeholder: "origem da raspa" %>
				<%= f.text_field :tag_tokens, placeholder: "temas envolvidos", "data-pre" => @micropost.tags.map(&:attributes).to_json %>
				<%= image_submit_tag "pen.png", :class => "pen round" %>
		</div>
</div>
	<%= render 'shared/error_messages', :object => f.object %>  
	<% end %>
		