<% if signed_in? %>
  <div class= "user_feed">
    <%= render 'users/user_bar' %>
  </div>
  <div class= "home">
    <% if @feed_items.empty? %>
      <div class="half_quotes round">
        <div class= "sign">
          Para começar escreva um pensamento clicando no lápis acima.<br />
          Quer exemplos? Veja nossas últimas raspas abaixo e inspire-se.
        </div>
        <div class= "flag_sign">
          <%= image_tag "raspa_sign.png" %>
        </div>
      </div>
        <%= render @feed_intro %>
      <br />
      <div class="half_quotes round">
        <div class= "sign">
          Está sem ideias? <%= link_to "Crie um perfil", new_author_path %> para um pensador, <br />
          ou veja os últimos perfis criados por nossos usuários.
        </div>
        <div class= "flag_sign">
          <%= image_tag "happy.png" %>
        </div>
      </div>
      <div class= "home_authors">
        <% @authors_intro.each do |author| %>
          <%= link_to image_tag(author.image_url(:medium)), author, title: "#{author.name}" %>
        <% end %>
      </div>  
    <% else %> 
      <div>
        <%= render 'shared/feed' %>
      </div>
    <% end %> 
  </div>
<% end %>