<% if signed_in? %>
  <div class= "feed_mosaico">
    <% @avatars.shuffle.each do |a| %>
      <div class= "feed_mosaico_each">
        <%= link_to (image_tag a.image_url(:medium)), a %>
        <p class= "gradient"><%= link_to a.name, a %></p>
      </div>
    <% end %>
  </div>
  <div class= "user_feed">
    <%= render 'users/user_feed' %>
  </div>
  <div class= "home">
    <% if @avatars.empty? %>
      <div class="half_quotes round">
        <div class= "sign">
          Torne-se fã de pensadores e siga seus amigos para acompanhar todas as raspas aqui!<br />
          Explore abaixo alguns perfis já criados ou ache seus ídolos e amigos na busca acima!
        </div>
        <div class= "flag_sign">
          <%= image_tag "super.png" %>
        </div>
      </div>
      <div class= "home_authors">
        <% @intro.shuffle.first(120).each do |a| %>
          <div class= "home_authors_each">
            <p><%= link_to a.name, a %></p>
            <%= link_to (image_tag a.image_url(:medium)), a %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= render 'shared/feed' %>
      </div>
    <% end %> 
  </div>
<% end %>
