<div class="raspas">
  <div class="user_info">
    <%= render 'user_info' %>
  </div>
  <div class="stack">
    <% if current_user?(@user) %>
      <% if current_user.microposts.empty? %>
        <div class="half_quotes round">
          <div class= "sign">
            Novo por aqui? Você ainda não escreveu nenhum pensamento.<br />
            Clique no lápis acima para escrever suas primeiras raspas!
          </div>
          <div class= "flag_sign">
            <%= image_tag "super.png" %>
          </div>
        </div>
        <div class="half_quotes round">
          <div class= "sign">
            Você também já pode criar um perfil para seu ídolo!<br />
            Especifique o "nome do pensador" em uma nova raspa.
          </div>
          <div class= "flag_sign">
            <%= image_tag "happy.png" %>
          </div>
        </div>
      <% else %>
        <% if !current_user.image.default_url.empty? %>
          <div class="half_quotes round">
            <div class= "sign">
              Dica: Que tal uma foto bacana para o hall da fama?<br />
              Edite seu perfil clicando na engrenagem ao lado de seu nome!
            </div>
            <div class= "flag_sign">
              <%= image_tag "happy.png" %>
            </div>
          </div>
        <% end %>
      <% end %> 
    <% end %>
    <% unless @microposts.empty? %>
    	<%= render @microposts %>
    <% else %>
      <% if !current_user?(@user) %>
        <div class= "half_quotes round">
          <div class= "sign">
            <%= @user.name %> ainda não possui nenhuma raspa.<br />
            Explore as raspas de outros <%= link_to "usuários", users_path %>!
          </div>
          <div class= "flag_sign">
            <%= image_tag "happy.png" %>
          </div>
        </div>
      <% end %>  	
    <% end %>
    <%= will_paginate @microposts %>
  </div>
</div>