<div class="raspas">
  <div class="user_info">
    <%= render 'user_info_favourites' %>
  </div>
	<% if @user.eleitas.empty? %>
		<div class="half_quotes round">
			<div class= "sign">
				Novo por aqui? Você ainda não possui nenhum pensamento.</br>
				Clique no <%= image_submit_tag "edit_author.png", id: "button" %> acima para escrever suas primeiras raspas!
			</div>
			<div class= "flag_sign">
				<%= image_tag "happy.png" %>
			</div>
		</div>
	<% else %>
		<div class= "stack">
		  	<% unless @user_eleitas.empty? %>
				<div>
					<%= render @user_eleitas %>
				</div>
		  	<% end %>
		</div>
	<% end %>
    <%= will_paginate @user_eleitas %>
</div>