<div class="raspas">
	<div class="user_info">
		<%= render 'user_info_favourites' %>
	</div>
	<div class= "stack">
		<% if @eleitas.empty? %>
	  		<% if current_user?(@user) %>
				<div class="half_quotes round">
					<div class= "sign">
						Você ainda não tem nenhuma raspa favorita...<br />
						Escolha suas <%= link_to "raspas", microposts_path %> favoritas e clique nos corações!
					</div>
					<div class= "flag_sign">
						<%= image_tag "happy.png" %>
					</div>
				</div>
			<% else %>
				<div class="half_quotes round">
					<div class= "sign">
						<%= @user.name %> ainda não possui raspas favoritas...<br />
						Explore as <%= link_to "raspas", microposts_path %> de outros <%= link_to "usuários", users_path %> ou 
						<%= link_to "pensadores", authors_path %>!
					</div>
					<div class= "flag_sign">
						<%= image_tag "dull.png" %>
					</div>
				</div>
			<% end %>		
		<% else %>
		  	<% unless @eleitas.empty? %>
				<div>
					<%= render @eleitas %>
				</div>
		  	<% end %>
		<% end %>
	</div>
    <%= will_paginate @eleitas %>
</div>