<div class="raspas">
  <div class="user_info">
    <%= render 'user_info' %>
  </div>
  <div class="stack">
    <% if current_user?(@user) %>
      <% if current_user.microposts.empty? %>
        <div class="half_quotes round">
          <div class= "sign">
            Novo por aqui? Você ainda não possui nenhum pensamento.</br>
            Clique no lápis acima para escrever suas primeiras raspas!
          </div>
          <div class= "flag_sign">
            <%= image_tag "raspa_.png" %>
          </div>
        </div>
      <% end %> 
    <% end %>
    <% unless @user.microposts.empty? %>
    	<%= render @microposts %>
    <% else %>
      <% if !current_user?(@user) %>
        <div class= "half_quotes round">
          <div class= "sign">
            <%= @user.name %> ainda não possui nenhuma raspa.</br>
            Explore as raspas de outros <%= link_to "usuários", users_path %>!
          </div>
          <div class= "flag_sign">
            <%= image_tag "happy.png" %>
          </div>
        </div>
      <% end %>  	
    <% end %>
      <%= will_paginate @microposts %>
  </div>
</div>