<div class="quotes round">
  <div class= "quote">
    <div class= "quote_text">
      <div class= "upwards">
        <% if !feed_item.author %>
          <%= feed_item.content %>
        <% else %>
          &quot;<%= feed_item.content %>&quot;
        <% end %>
      </div>
    </div>
    <div class="user">
      <%= image_tag "ico_raspas.png", alt: "raspa por" %>
      <% if !feed_item.author %>
        <%= link_to feed_item.user.name, feed_item.user, title: "ver + de #{feed_item.user.name}" %>
      <% else %>
        <%= link_to feed_item.author.name, feed_item.author, title: "ver + de #{feed_item.author.name}" %>
      <% end %>
    </div>
    <div class="timestamp">
      <%= time_ago_in_words(feed_item.created_at) %>
      <% if !feed_item.tags.empty? %>
        / sobre 
        <% feed_item.tags.each do |tag| %>
          <%= link_to tag.name, tag, title: "ver + raspas sobre #{tag.name}" %> - 
        <% end %>      
      <% end %>
      <% unless !feed_item.origem? %>
        / extraído de <%= feed_item.origem %>
      <% end %>
      <% if feed_item.author %>
        <% if !current_user?(feed_item.user) %>
          / por <%= link_to feed_item.user.name, feed_item.user, title: "ver + de #{feed_item.user.name}" %>
        <% end %>
      <% end %>
      <%# if !feed_item.published? %>
        <!-- / sob <%#= link_to "análise", @author %> -->
        <%#= link_to (image_tag "flag_ico.png"), root_path %>
      <%# end %>
    </div>
  </div>
  <div class= "quote_corner">
    <div class= "top_corner">                                             
      <% if current_user?(feed_item.user) %>
        <%= link_to (image_tag "trash.png"), feed_item, :method => :delete,
                                               :confirm => "apagar esta raspa?",
                                               :title => "descartar favorita",
                                               :class => "top_button round" %>
      <% else %>
        <% if feed_item.favourites?(feed_item) %>
            <%= form_for feed_item.favourites.find_by_micropost_id(feed_item),
                 :html => { :method => :delete } do |f| %>
              <div>
                <%= image_submit_tag "heart_broken.png", :class => "unfollow round", title: "descartar favorita" %>
              </div>
            <% end %>
          <% else %>
            <%= link_to (image_tag "heart.png"), favourites_micropost_path(feed_item), :class => "top_button round", title: "adicionar às favoritas" %>
          <% end %>
      <% end %>
      <%= link_to (image_tag "share.png"), micropost_path(feed_item), title: "compartilhar via facebook, twitter ou google+.", class: "top_button round" %>  
    </div>
    <% if feed_item.author %>
      <div class= "user_id">
        <%= link_to image_tag(feed_item.user.image_url(:medium)), feed_item.user, 
        title: "ver perfil de #{feed_item.user.name}" %>
      </div>
    <% end %>
  </div>
</div>