<div id='fb-root'></div>
<script src='http://connect.facebook.net/pt_BR/all.js'></script>
<script> 
  FB.init({appId: "282523151767333", status: true, cookie: true});

  function postToFeed() {

    // calling the API ...
    var obj = {
      method: 'feed',
      link: 'https://raspas.herokuapp.com/',
      picture: '<%= @micropost.user.photo.url(:medium) %>',
      name: '<%= @micropost.content %>',
      caption: '<% if @micropost.author %>{ <%= @micropost.author.name %><% end %>',                                
      description: 'por <%= @micropost.user.name %>',  
    };

    function callback(response) {
      document.getElementById('msg').innerHTML = "compartilhado!";
    }

    FB.ui(obj, callback);
  }

</script>


<p id='msg'>compartilhe</p>

<div>

	<div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p><a onclick='postToFeed(); return false;'><%= image_tag "facebook_20.png", title: "compartilhar pelo facebook" %></a></p>
    
	<%= link_to (image_tag "twitter_20.png"), "https://twitter.com/share?url=http://www.raspas.com.br", 
	:class => "popup", :size => "20x20", :alt => "tweet", title: "compartilhar pelo twitter" %>

	<%= link_to (image_tag "google_20.png"), "https://plusone.google.com/_/+1/confirm?hl=en&url=http://www.raspas.com.br", 
	:class => "popup", :size => "20x20", :alt => "tweet", title: "compartilhar pelo google +" %>

</div>