<div class= "origin_card">
  <div class= "origin_card_avatar">
    <%= link_to image_tag(song.image_url), song %>
  </div>
  <div class= "origin_card_info">
    <div class= 'origin_type'>
      <%= link_to (image_tag 'song.png', alt: 'música'), song %>
    </div>
    <div class= "origin_card_name relative">
      <%= link_to song.name, song %><br />
      <% if song.author.present? %>
        { <%= link_to song.author.name, song.author, class: "origin_author" %><br />
      <% else %>
        { <%= link_to song.user.name, song.user, class: "origin_author" %><br />
      <% end %>
    </div>
  </div>
</div>
