<div class="raspas">
  <div class="raspas">
    <div class= "user_info">
      <div class= "user_avatar">
        <%= image_tag "raspas_logo_user.jpg" %>
      </div> 
      <div class= "user_info_board round" >
        <div class= "contagem">
          <%= Micropost.count %>
          <%= link_to "raspas", microposts_path, title: "explorar raspas" %></br>
        </div>
        <div class= "contagem">
          <%= Tag.count %>
          <%= link_to "temas", tags_path, title: "explorar temas" %></br>
        </div>
        <div class= "contagem">
          <%= Author.count %>
          <%= link_to "pensadores", authors_path, title: "explorar pensadores" %></br>
        </div>
        <div class= "contagem">
          <%= User.count %>
          <%= link_to "usuários", users_path, title: "explorar usuários" %></br>
        </div>
      </div>
      <div class= "user_info_board round">
        <div class= "last_header">
          <p class="p_tag">últimos</p><p class= "p_tags"> temas</p>
              <p class= "p_mais"><%= link_to "+", tags_path, title: "explorar outros temas" %></p>
          </div>
        <div>
          <% @tags.first(8).each do |tag| %>
            <div>
              <%= link_to tag.name, tag, 
              title: "ver raspas de #{@user.name} sobre #{tag.name}", :class => "but round temas" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class= "user_info_board round">
        <div class= "last_header">
          <p class= "p_tags">últimos</p> <p class="p_tag">pensadores</p>
          <p class= "p_mais"><%= link_to "+", authors_path, title: "explorar pensadores" %></p>
        </div>
        <div>
          <% @authors.first(4).each do |author| %>
            <div class= "last">
              <%= link_to image_tag(author.image_url(:tiny)), author, title: "ver perfil de #{author.name}" %>
              <p><%= link_to author.name, author, title: "ver perfil de #{author.name}" %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class= "user_info_board round">
        <div class= "last_header">
          <p class= "p_tags">últimos</p> <p class="p_tag">usuários</p>
          <p class= "p_mais"><%= link_to "+", users_path, title: "explorar usuários" %></p>
        </div>
        <div>
          <% @users.first(4).each do |user| %>
            <div class= "last">
              <%= link_to image_tag(user.image_url(:tiny)), user, title: "ver perfil de #{user.name}" %>
              <p><%= link_to user.name, user, title: "ver perfil de #{user.name}" %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class= "user_info_board round" >
          <%= submit_tag "escrever raspas", id: "button", title: "escrever raspas" %></li>
      </div>
      <div class= "user_info_board round" >
        <p class= "p_tags"><%= link_to "criar pensador", new_author_path, title: "novo pensador" %></p></br>
      </div>
      <% if !signed_in? %>
        <div class= "user_info_board round" >
          <p class= "p_tags"><%= link_to "cadastre-se", signin_path, title: "entre no raspas" %></p></br>
        </div>
      <% end %>
      <div class= "user_info_board round" >
        <p class= "p_tags"><%= link_to "saiba mais", about_path, title: "saiba mais" %></p></br>
      </div>
      <div class= "user_info_board round" >
        <p class= "p_tags"><%= link_to "contate-nos", contact_path, title: "nós queremos ouvi-lo!" %></p></br>
      </div>
    </div>
    <div class="stack">
      <% if !signed_in? %>
        <div class="quotes round">
          <div class= "sobre">
            "Crie, colecione e compartilhe pensamentos.</br>
            Conecte-se através do
            <%= link_to "twitter", "/auth/twitter", title: "entre com twitter" %> ou
            <%= link_to "facebook", "/auth/facebook", title: "entre com facebook" %>."
          </div>
        </div>
      <% end %>  
      <div>
        <%= render @feed_items %>
      </div>
    </div>
  </div>
</div>