<div class= "origin_card">
  <div class= "origin_card_avatar">
    <%= link_to image_tag(book.image_url), book %>
  </div>
  <div class= "origin_card_info">
    <div class= 'origin_type'>
      <%= link_to (image_tag 'book.png', alt: 'livro'), book %>
    </div>
    <div class= "origin_card_name">
      <%= link_to book.name, book %><br />
      <% if book.author.present? %>
        { <%= link_to book.author.name, book.author, class: "origin_author" %><br />
      <% else %>
        { <%= link_to book.user.name, book.user, class: "origin_author" %><br />
      <% end %>
    </div>
  </div>
</div>
