<div class= "origin_card">
  <div class= "origin_card_avatar">
    <%= link_to image_tag(book.image_url), book %>
  </div>
  <div class= "origin_card_info">
    <div class= 'origin_type'>
      <%= link_to (image_tag 'book.png'), book %>
    </div>
    <div class= "origin_card_name relative">
      <%= link_to book.name, book %><br />
      <% if book.author.present? %>
        { <%= book.author.name %><br />
      <% else %>
        { <%= book.user.name %><br />
      <% end %>
    </div>
  </div>
</div>
