<div class= "origin_card">
  <div class= "origin_card_avatar">
    <%= link_to image_tag(film.image_url), film %>
  </div>
  <div class= "origin_card_info">
    <div class= 'origin_type'>
      <%= link_to (image_tag 'film.png'), film %>
    </div>
    <div class= "origin_card_name relative">
      <%= link_to film.name, film %><br />
      <% if film.author.present? %>
        { <%= link_to film.author.name, film.author, class: "origin_author" %><br />
      <% else %>
        { <%= link_to film.user.name, film.user, class: "origin_author" %><br />
      <% end %>
    </div>
  </div>
</div>
