<div class= "user_info">
	<div class= "logo_avatar round shadow">
		<%= link_to (image_tag "half_logo_.png", alt: "raspas"), root_path %>
	</div>
	<div class= "show_info">
		<div class= "user_info_board round">
			<p class= "p_tags">sobre</p><p class="p_tag"><%= @tag.name %></p>
		</div>
		<div class= "user_info_board round">
			<p class="p_tag">citado</p><p class="p_tags"><%= @tag.taggings.count %></p><p class="p_tag">x</p>
		</div>
		<% if !@tag.users.empty? %>
			<div class= "user_info_board round" >
				<div class= "last_header">
					<p class="p_tags">pelos</p><p class="p_tag">usuários</p>
					<p class= "p_mais"><%= link_to "+", users_tag_path, title: "ver todos usuários que escreveram sobre #{@tag.name}" %></p>
				</div>
				<div>
			        <% @users.first(4).each do |user| %>
				        <div class= "last">
				            <div class= "last_users">
				            	<%= link_to image_tag(user.image_url(:tiny)), user, title: "ver perfil de #{user.name}", alt: user.name %>
                				<div class= "last_upwards">
				            		<p><%= link_to user.name, user, title: "ver perfil de #{user.name}" %></p>
				        		</div>
				        	</div>
				        </div>
			        <% end %>
		        </div>
		    </div>
		<% end %>
		<% if !@tag.authors.empty? %>
			<div class= "user_info_board round">
				<div class= "last_header">
					<p class="p_tags">dos</p><p class="p_tag">pensadores</p>
					<p class= "p_mais"><%= link_to "+", authors_tag_path, 
					title: "ver todos autores que escreveram sobre #{@tag.name}" %></p>
				</div>
				<div>
		            <% @authors.first(4).each do |author| %>
						<div class= "last">
							<div class= "last_users">
								<%= link_to image_tag(author.image_url(:tiny)), author, title: "ver perfil de #{author.name}", alt: author.name %>
								<div class= "last_upwards">
									<p><%= link_to author.name, author, title: "ver perfil de #{author.name}" %></p>
								</div>
							</div>
						</div>		              		
		            <% end %>
		        </div>	
			</div>
		<% end %>	   
		<div class= "user_info_board round" >
			<div class= "last_header">
				<p class="p_tags">outros</p><p class="p_tag">temas</p>
				<p class= "p_mais"><%= link_to "+", tags_path, title: "explorar outros temas" %></p>
			</div>
			<div>
				<% @tags.shuffle.first(40).each do |tag| %>
				  <div>
				    <%= link_to tag.name, tag, title: "ver raspas sobre #{tag.name}", :class => "but round temas" %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>