<div class= "user_info">
	<div class= "user_avatar">
		<%= link_to (image_tag "raspas_logo_user.jpg"), root_path %>
	</div>
	<div class= "show_info">
		<div class= "user_info_board round">
			<p class= "p_tags">sobre</p> <p class="p_tag"><%= @tag.name %></p>
		</div>
		<% if !@tag.authors.empty? %>
			<div class= "user_info_board round">
				<div class= "last_header">
					<p class="p_tags">últimos</p> <p class="p_tag">pensadores</p>
					<p class= "p_mais"><%= link_to "+", authors_tag_path, 
					title: "ver todos autores que escreveram sore #{@tag.name}" %></p>
				</div>
				<div>
		            <% @authors.first(4).each do |author| %>
		              <div class= "last">
		                <%= link_to image_tag(author.photo.url(:tiny)), author, title: "ver perfil de #{author.name}" %>
		                <p><%= link_to author.name, author, title: "ver perfil de #{author.name}" %></p>
		              </div>
		            <% end %>
		        </div>	
			</div>
		<% end %>
		<% if !@tag.users.empty? %>
			<div class= "user_info_board round" >
				<div class= "last_header">
					<p class="p_tags">últimos</p> <p class="p_tag">usuários</p>
					<p class= "p_mais"><%= link_to "+", users_tag_path, title: "ver todos usuários que escreveram sore #{@tag.name}" %></p>
				</div>
				<div>
			        <% @users.first(4).each do |user| %>
				        <div class= "last">
				            <%= link_to image_tag(user.photo.url(:tiny)), user, title: "ver perfil de #{user.name}" %>
				            <p><%= link_to user.name, user, title: "ver perfil de #{user.name}" %></p>
				        </div>
			        <% end %>
		        </div>
		    </div>
		<% end %>	   
		<div class= "user_info_board round" >
			<div class= "last_header">
				<p class="p_tags">outros</p> <p class="p_tag">temas</p>
				<p class= "p_mais"><%= link_to "+", tags_path, title: "explorar outros temas" %></p>
			</div>
			<div>
				<% @tags.first(8).each do |tag| %>
				  <div>
				    <%= link_to tag.name, tag, :class => "but round temas" %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>