<div class= "home">
	<div class= "title">
		<p class= "p_search"><%= pluralize @tag.users.count, "usuário" %> escreveram sobre <%= @tag.name %></p><%= link_to "voltar para raspas sobre #{@tag.name}", @tag %>
	</div>
	<ul class="users">
	  <li><%= render @tag.users %></li>
	</ul>
	<div class= "pagination_square">
		<%= will_paginate @users %>
	</div>
</div>