<div class="quotes round shadow">
  <div class= "quote">
    <div class= "quote_text">
      <div class= "upwards">
        <% if !micropost.author %>
          <%= h(micropost.content) %>
        <% else %>
          &quot;<%= h(micropost.content) %>&quot;
        <% end %>
      </div>
    </div>
    <div class="quote_author">
      <%= image_tag "ico_raspas.png", alt: "raspa por" %>
      <% if !micropost.author %>
        <%= link_to micropost.user.name, micropost.user %>
      <% else %>
        <%= link_to micropost.author.name, micropost.author %>
      <% end %>  
    </div>
    <div class= "tooltip">
      <% if !micropost.author %>
        <%= render micropost.user %>
      <% else %>  
        <%= render micropost.author %>
      <% end %>
    </div>
    <div class="timestamp">
      <div class= "timestamp_each">
        <%= image_tag "clock_ico.png", title: "tempo no ar", alt: "há" %>
        <%= micropost.created_at.strftime("%d.%m.%Y") %>
      </div>
      <% if micropost.author %>
        <div class= "timestamp_each">  
          <div class= "quote_poster">
            <%= image_tag "raspa_ico.png", class: "raspa", title: "raspa de #{micropost.user.name}", alt: "raspa de" %>
            <%= link_to micropost.user.name, micropost.user %>
          </div>
        </div>
        <div class= "tooltip">
          <%= render micropost.user %>
        </div>
      <% end %>
      <% if !micropost.tags.empty? %>
        <div class= "timestamp_each">
          <% micropost.tags.each do |tag| %>
            <%= link_to (image_tag "tag_ico.png", alt: "sobre"), tag, title: "ver + raspas sobre #{tag.name}"  %>
            <%= link_to tag.name, tag, title: "ver + raspas sobre #{tag.name}" %>
          <% end %>
        </div>
      <% end %>
      <% if micropost.origin %>
        <div class= "timestamp_each">
          <div class= "quote_origin">
            <%= link_to (image_tag "other_ico.png", alt: "sobre"), micropost.origin, title: "ver + raspas de #{micropost.origin_id}" if micropost.origin.class.blank? %>
            <%= link_to (image_tag "book_ico.png", alt: "sobre"), micropost.origin, title: "ver + raspas de #{micropost.origin_id}" if micropost.origin.class == Book %>
            <%= link_to (image_tag "poem_ico.png", alt: "sobre"), micropost.origin, title: "ver + raspas de #{micropost.origin_id}" if micropost.origin.class == Poem %>
            <%= link_to (image_tag "song_ico.png", alt: "sobre"), micropost.origin, title: "ver + raspas de #{micropost.origin_id}" if micropost.origin.class == Song %>
            <%= link_to (image_tag "film_ico.png", alt: "sobre"), micropost.origin, title: "ver + raspas de #{micropost.origin_id}" if micropost.origin.class == Film %>
            <%= link_to (image_tag "other_ico.png", alt: "sobre"), micropost.origin, title: "ver + raspas de #{micropost.origin_id}" if micropost.origin.class == Other %>
            <%= link_to micropost.origin.name, micropost.origin %>
          </div>
        </div>
        <div class= "tooltip">
          <%= render micropost.origin %>
        </div>  
      <% end %>
      <% if micropost.favouriters.any? %>
        <div class= "timestamp_each">
          <% micropost.favouriters.first(1).each do |favouriters| %>
            <%= link_to (image_tag "heart_ico.png", alt: "favoritaram"), favouriters %>
            <%= link_to favouriters.name, favouriters, class: "quote_favouriters" %> 
            <div class= "tooltip">
              <%= render favouriters %>
            </div>
            <% unless micropost.favouriters.count == 1 %>
              + <%= link_to pluralize(micropost.favouriters.count - 1, "outro"), favouriters_micropost_path(micropost), title: "ver usuários que favoritaram esta raspa" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%# if !micropost.published? %>
      <!--<div class= "timestamp_each"> 
          sob <%#= link_to "análise", @author %>
          <%#= link_to (image_tag "flag_ico.png"), root_path %>
        </div> -->
      <%# end %>
      <% if current_user?(micropost.user) %>
        <div class= "timestamp_each">
          <%= link_to (image_tag "edit.png", alt: "editar"), edit_micropost_path(micropost) %>
          <%= link_to "editar", edit_micropost_path(micropost) %>
          <%= link_to (image_tag "trash_ico.png", alt: "remover"), micropost, :method => :delete,
                                           :confirm => "apagar esta raspa?",
                                           :title => "descartar" %>
          <%= link_to "apagar", micropost, :method => :delete,
                                           :confirm => "apagar esta raspa?",
                                           :title => "descartar" %>

        </div>
      <% end %>
    </div>
  </div>
  <div class= "quote_corner">
    <div class= "top_corner">
      <div>   
        <%= render 'favourites/favo_form', micropost: micropost %>
      </div>    
      <div class= "share">
        <% unless @micropost %>  
          <%= link_to (image_tag "share.png", alt: "compartilhar"), micropost_path(micropost), title: "compartilhar via facebook, twitter ou google+.", class: "top_button round" %>
          <div class= "but_stats round">
            <p>compartilhar</p>
          </div>
        <% else %>
          <%= render "microposts/social" %>
        <% end %>
      </div>
    </div>
    <div class= "quote_poster_pic">
      <%= link_to image_tag(micropost.user.image_url(:small)), micropost.user %>
    </div>
    <div class= "tooltip">
      <%= render micropost.user %>
    </div>
  </div>
</div>