<div class="quotes round shadow">
  <div class= "quote">
    <div class= "quote_text">
      <div class= "upwards">
        <% if !micropost.author %>
          <%= h(micropost.content) %>
        <% else %>
          &quot;<%= h(micropost.content) %>&quot;
        <% end %>
      </div>
    </div>
    <div class="user">
      <%= image_tag "ico_raspas.png", alt: "raspa por" %>
      <% if !micropost.author %>
        <%= link_to micropost.user.name, micropost.user, title: "ver + de #{micropost.user.name}" %>
      <% else %>
        <%= link_to micropost.author.name, micropost.author, title: "ver + de #{micropost.author.name}" %>
      <% end %>  
    </div>
    <div class="timestamp">
      <div class= "timestamp_each">
        <%= image_tag "clock_ico.png", title: "tempo no ar" %>
        <%= time_ago_in_words(micropost.created_at) %>
      </div>
      <div class= "timestamp_each">
        <% if !micropost.tags.empty? %>
          <% micropost.tags.each do |tag| %>
            <%= link_to (image_tag "tag_ico.png"), tag, title: "ver + raspas sobre #{tag.name}"  %>
            <%= link_to tag.name, tag, title: "ver + raspas sobre #{tag.name}" %>
          <% end %>
        <% end %>
      </div>
      <!-- <div class= "timestamp_each">
        <%# unless !micropost.origem? %>
          <%#= micropost.origem %>
        <%# end %>
      </div>   -->
      <div class= "timestamp_each">
        <% if micropost.favouriters.any? %>
          <% micropost.favouriters.first(1).each do |favouriters| %>
            <%= link_to (image_tag "heart_ico.png"), favouriters, title: "ver + de #{favouriters.name}"  %>
            <%= link_to favouriters.name, favouriters, title: "ver + de #{favouriters.name}" %> 
              <% unless micropost.favouriters.count == 1 %>
                + <%= link_to pluralize(micropost.favouriters.count - 1, "outro"), favouriters_micropost_path(micropost), title: "ver usuários que favoritaram esta raspa" %>
              <% end %>
          <% end %>
        <% end %>
      </div>
      <div class= "timestamp_each">  
        <% if micropost.author %>
          <%= image_tag "raspa_ico.png", class: "raspa", title: "raspa de #{micropost.user.name}" %>
          <strong><%= link_to micropost.user.name, micropost.user, title: "ver + de #{micropost.user.name}" %></strong>
        <% end %>
      </div>
      <div class= "timestamp_each"> 
        <%# if !micropost.published? %>
          <!-- sob <%#= link_to "análise", @author %> -->
          <%#= link_to (image_tag "flag_ico.png"), root_path %>
        <%# end %>
      </div>
      <div class= "timestamp_each">
        <% if current_user?(micropost.user) %>
           <%= link_to (image_tag "edit.png"), edit_micropost_path(micropost) %>
           <%= link_to (image_tag "trash_ico.png"), micropost, :method => :delete,
                                             :confirm => "apagar esta raspa?",
                                             :title => "descartar" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "quote_corner">
    <div class= "top_corner">
      <div>   
        <% if micropost.favourites.find_by_user_id(current_user) %>  
          <%= form_for micropost.favourites.find_by_user_id(current_user),
               :html => { :method => :delete } do |f| %>
            <div>
              <%= image_submit_tag "heart_broken.png", :class => "round", title: "descartar favorita" %>
            </div>
          <% end %>
        <% else %>
          <div>
            <%= link_to (image_tag "heart.png"), favourites_micropost_path(micropost), :class => "top_button round", title: "adicionar às favoritas" %>
          </div>
        <% end %>
        <% if micropost.favourites.any? %>
          <% if current_user?(micropost.user) %>  
            <div class= "but_stats_own round">
                <%= link_to "x #{micropost.favouriters.count}", favouriters_micropost_path(micropost), class: "round", title: "ver usuários que favoritaram sua raspa" %>
            </div>
          <% else %>
            <div class= "but_stats round">
                <%= link_to "x #{micropost.favouriters.count}", favouriters_micropost_path(micropost), class: "round", title: "ver usuários que favoritaram esta raspa" %>
            </div>
          <% end %>  
        <% else %>
          <div class= "but_stats round">
            <p>favoritar</p>
          </div>
        <% end %>
      </div>    
      <div class= "share">
        <% unless @micropost %>  
          <%= link_to (image_tag "share.png"), micropost_path(micropost), title: "compartilhar via facebook, twitter ou google+.", class: "top_button round" %>
        <% else %>
          <%= render "microposts/social" %>
        <% end %>
        <% if !@micropost %>
          <div class= "but_stats round">
            <p>compartilhar</p>
          </div>
        <% end %>
      </div>
    </div>
    <% if micropost.author %>
      <div class= "user_id">
        <%= link_to image_tag(micropost.user.image_url(:small)), micropost.user, 
        title: "ver perfil de #{micropost.user.name}" %>
      </div>
    <% end %>
  </div>
</div>