<div class="quotes round">
  <div class= "quote">
    <div class= "quote_text">
      <div class= "upwards">
        <% if !micropost.author %>
          <%= micropost.content %>
        <% else %>
          &quot;<%= micropost.content %>&quot;
          <% if !current_user?(micropost.user) %>
            <%= link_to (image_tag "reaspas.png"), reaspas_micropost_path(micropost), title: "reaspas" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="user">
      <%= image_tag "ico_raspas.png", alt: "raspa por" %>
      <% if !micropost.author %>
        <%= link_to micropost.user.name, micropost.user, title: "ver + de #{micropost.user.name}" %>
      <% else %>
        <%= link_to micropost.author.name, micropost.author, title: "ver + de #{micropost.author.name}" %>
      <% end %>  
    </div>
    <div class="timestamp">
      <%= time_ago_in_words(micropost.created_at) %>
      <% if !micropost.tags.empty? %>
        / 
        <% micropost.tags.each do |tag| %>
        sobre <%= link_to tag.name, tag, title: "ver + raspas sobre #{tag.name}" %>
        <% end %>
      <% end %>
      <% unless !micropost.origem? %>
        / extraído de <%= micropost.origem %>
      <% end %>
      <% if micropost.author %>
        <% if !current_user?(micropost.user) %>
          / por <%= link_to micropost.user.name, micropost.user, title: "ver + de #{micropost.user.name}" %>
        <% end %>
      <% end %>
      <% if !micropost.published? %>
        / sob <%= link_to "análise", @author %>
        <%= link_to (image_tag "flag_ico.png"), root_path %>
      <% end %>
    </div>
  </div>
    <div class= "quote_corner">
      <div class= "top_corner">                                             
        <% if current_user?(micropost.user) %>
          <%= link_to (image_tag "trash.png"), micropost, :method => :delete,
                                                 :confirm => "apagar esta raspa?",
                                                 :title => "descartar",
                                                 :class => "round" %>
        <% else %>
          <% if micropost.favourites?(micropost) %>
            <%= form_for micropost.favourites.find_by_micropost_id(micropost),
                 :html => { :method => :delete } do |f| %>
              <div>
                <%= image_submit_tag "heart_broken.png", :class => "unfollow round", title: "descartar favorita" %>
              </div>
            <% end %>
          <% else %>
            <%= link_to (image_tag "heart.png"), favourites_micropost_path(micropost), :class => "round", title: "adicionar às favoritas" %>
          <% end %>
        <% end %>  
        <%= link_to (image_tag "share.png"), micropost_path(micropost), title: "compartilhar via facebook, twitter ou google+.", class: "share round" %>
      </div>   
      <% if micropost.author %>
        <div class= "user_id">
          <%= link_to image_tag(micropost.user.photo.url(:medium)), micropost.user, 
          title: "ver perfil de #{micropost.user.name}" %>
        </div>
      <% end %>
    </div>
</div>

