<!-- META TAGS for G+ SHARER -->

<meta property="og:title" content="<% if @micropost.author %><%= @micropost.author.name %><% else %><%= @micropost.user.name %><% end %>" />
<meta property="og:image" content="" />
<meta property="og:description" content="'<%= @micropost.content %>'" />


<div class= "sharers">
  <div id='fb-root'></div>
  <script src='https://connect.facebook.net/pt_BR/all.js'></script>
  <p><a onclick='postToFeed(); return false;'><%= image_tag "fb_20.png", title: "compartilhar raspa no facebook" %></a></p>

  <!-- SCRIPT for FB FEED DIALOG -->

  <script>     
    function postToFeed() {

      // calling the API ...
      var obj = {
        method: 'feed',
        link: 'https://raspas.com.br/raspas/<%= @micropost.id %>',
        picture: '<% if @micropost.author %><% if !@micropost.author.image.blank? %><%= @micropost.author.image_url(:regular) %><% else %><%= image_tag "photos/default/medium_author.png" %><% end %><% else %><% if !@micropost.user.image.blank? %><%= @micropost.user.image_url(:regular) %><% else %><%= image_tag "photos/default/medium_user.png" %><% end %><% end %>',
        name: '"<%= h(@micropost.content) %>"',
        caption: '<% if @micropost.author %>{ <%= @micropost.author.name %><% else %>{ <%= @micropost.user.name %><% end %>',                                
        description: 'crie, colecione e compartilhe pensamentos com o Raspas, a rede contemporânea de pensadores atemporais.',  
      };

      function callback(response) {
        document.getElementById('msg').innerHTML = "compartido!";
      }

      FB.ui(obj, callback);
    }
  </script>
</div>

<div class= "sharers">  
  <g:plusone size="medium" annotation= "none"></g:plusone>
</div>  
<div class= "sharers">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="none" data-via="entre_raspas" 
  data-text="'<%= @micropost.content %>'
  {  <% if @micropost.author %><%= @micropost.author.name %>

  <% else %><%= @micropost.user.name %>

  <% end %>" 
  data-lang="none" data-size="medium" data-related="entre_raspas" data-count="none" title="tweetar esta raspa"></a>
</div>
<div id= "msg"></div>