]<!-- Load the fb SDK Asynchronously -->

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '282523151767333', // App ID
      channelUrl : '//www.raspas.com.br/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/pt_BR/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>



<!-- Load the g+1 Asynchronously -->

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Twitter Sharer -->

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- META TAGS for G+ SHARER -->

<meta property="og:title" content="<% if @micropost.author %><%= @micropost.author.name %><% else %><%= @micropost.user.name %><% end %>" />
<meta property="og:image" content="" />
<meta property="og:description" content="'<%= @micropost.content %>'" />


<!-- SCRIPT for FB FEED DIALOG -->

<div id='fb-root'></div>
<script> 

  function postToFeed() {

    // calling the API ...
    var obj = {
      method: 'feed',
      link: 'https://raspas.com.br/raspas/<%= @micropost.id %>',
      picture: '<% if @micropost.author %><% if !@micropost.author.image.blank? %><%= @micropost.author.image_url(:regular) %><% else %><%= image_tag "photos/default/medium_author.png" %><% end %><% else %><% if !@micropost.user.image.blank? %><%= @micropost.user.image_url(:regular) %><% else %><%= image_tag "photos/default/medium_user.png" %><% end %><% end %>',
      name: "'<%= @micropost.content %>'",
      caption: '<% if @micropost.author %>{ <%= @micropost.author.name %><% else %>{ <%= @micropost.user.name %><% end %>',                                
      description: 'crie, colecione e compartilhe pensamentos com o Raspas, a rede contemporânea de pensadores atemporais.',  
    };

    function callback(response) {
      document.getElementById('msg').innerHTML = "/ compartilhado";
    }

    FB.ui(obj, callback);
  }

</script>

<div class= "sharers">
  <div id='fb-root'></div>
  <p><a onclick='postToFeed(); return false;'><%= image_tag "fb_20.png", title: "compartilhar raspa no facebook" %></a></p>
</div>  
<div class= "sharers">  
  <g:plusone size="medium" annotation= "none"></g:plusone>
</div>  
<div class= "sharers">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="none" data-via="entre_raspas" 
  data-text="'<%= @micropost.content %>'
  {  <% if @micropost.author %><%= @micropost.author.name %>

  <% else %><%= @micropost.user.name %>

  <% end %>" 
  data-lang="none" data-size="medium" data-related="entre_raspas" data-count="none" title="tweetar esta raspa"></a>
</div>
