<div class="user_info">
	<%= render 'micropost_info' %>
</div>
<div class="stack">
	<% if !signed_in? %>
		<div class ="welcome_space"></div>
  		<%= render 'shared/welcome' %>
 	<% end %>
	<% if @micropost %>
		<% cache "photo_background" do %>  
			<% if @micropost.author %>
	    		<%= image_tag @micropost.author.image_url.to_s, class: "author_back" %>
			<% else %>
	    		<%= image_tag @micropost.user.image_url.to_s, class: "author_back" %>
			<% end %>
		<% end %>
		<%= render @micropost %>
		<div class= "absolute">
			<% if !signed_in? %>
				<div class ="welcome_space"></div>
			<% end %>
			<%= image_tag "compartilhar.png" %>
		</div>	
	<% end %>
</div>









