<header>
  <nav>
    <%= link_to logo, root_path, :class => "raspas_logo" %>
    <ul>
       <li class= "search">
        <%= form_tag :search, :action => 'search', :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: "buscar", :id => 'search_field', :class => "search_li"%>
          <%= image_submit_tag "lupa.png", :name => nil, :class => "lupa" %> 
        <% end %> 
      </li>
    </ul>
    <% if signed_in? %> 
      <ul>
        <li><%= link_to "mural", root_path %></li>
      </ul>
      <ul class= "nave_r"> 
        <div class= "topo">
          <li><%= link_to (image_tag "menu_arrow.png"), current_user %> 
            <li class= "sider"><%= link_to "editar", edit_user_path(current_user) %></li>   
            <li class= "sider"><%= link_to "sair", signout_path %></li>
          </li>
        </div>   
      </ul> 
      <ul class= "nave_r"> 
        <li><%= link_to current_user.name, current_user %></li> 
      <ul>
    <% else %>
      <ul>
        <li><%= link_to "saiba mais", about_path %></li>
      </ul> 
      <ul class= "nave_r">
        <div class= "topo">
            <li><%= link_to (image_tag "menu_arrow.png"), signin_path %>
              <li class= "sider"><%= link_to (image_tag "t.png"), "/auth/twitter" %></li>
              <li class= "sider"><%= link_to (image_tag "f.png"), "/auth/facebook" %></li> 
            </li>
        </div>
      </ul>
      <ul class= "nave_r"> 
        <li><%= link_to "entre", signin_path %></li>
      </ul>
    <% end %>
  </nav>
</header>