<div id= "popupContact" class= "round" >
  <a id= "popupContactClose" class= "round"><%= image_tag "trash.png" %></a> 
  <div class= "user_bar">
    <% @user ||= current_user %>
    <div class= "board_avatar">
      <%= link_to image_tag(@user.image_url(:regular)), current_user %>
    </div>
    <div class= "user_board">
      <%= form_for @new_micropost do |f| %>
        <%= f.text_area :content, :maxlength => 345, placeholder: "escreva aqui um pensamento ( sem aspas :) )", title: "escreva uma raspa aqui" %>
        <div class= "count_micropost">
          <div id= "count">345</div>
        </div>
        <%= f.text_field :author_name, value: "#{@author.name if @author}", data: {autocomplete_source: autocomplete_author_path(current_user)}, placeholder: "o pensador (caso não seja você)", title: "nome de um pensador" %>
        <%= f.text_field :tag_names, data: {autocomplete_source: autocomplete_tag_path(current_user)}, placeholder: "temas (separe temas com vírgulas)", title: "separe temas com vírgulas" %>
        <%#= f.text_field :origem, placeholder: "origem da raspa", title: "livros, músicas, filmes..." %>
        <%= image_submit_tag "raspa_.png", :class => "write round" %>
      <% end %>
    </div>
  </div>
</div> 
<div id="backgroundPopup"></div> 