 <div id= "popupContact" class= "round" >
    <a id= "popupContactClose" class= "round"><%= image_tag "trash.png" %></a> 
    <div class= "user_bar">
      <% @user ||= current_user %>
        <div class= "board_avatar">
          <%= link_to image_tag(@user.image_url), current_user %>
        </div>
        <div class= "user_board">
          <%= form_for @micropost do |f| %>
            <%= f.text_area :content, :maxlength => 240, placeholder: '"escreva aqui um pensamento"' %>
            <div class= "count_micropost">
              <div id= "count">240</div>
            </div>
            <%= f.text_field :author_name, data: {autocomplete_source: authors_path}, placeholder: "autor original" %>
            <%= f.text_field :origem, placeholder: "origem da raspa" %>
            <%= f.text_field :tag_names, data: {autocomplete_source: tags_path}, placeholder: "temas envolvidos" %>
            <%= image_submit_tag "raspa_.png", :class => "write round" %>
          <% end %>
        </div>
    </div>
</div> 
<div id="backgroundPopup"></div> 