<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="pt-BR" />
    <meta name="description" content="Raspas são pensamentos, momentos em palavras. Crie, colecione e compartilhe. Inpire-se, questione e aprenda. Um único pensamento é a origem de todas as ações grandiosas. Participe do Raspas, a rede contemporânea de pensadores." />
    <meta name="google-site-verification" content="M4EZ5LyutNzTFZWcuBfubxatkAhSyctyJcLZ0zVhEKs" />
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%#= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div>
        <%= render 'layouts/header' %>
        <% if signed_in? %>
          <%= render 'layouts/raspas' %>
        <% end %>
        <div>
          <% if !signed_in? %>
            <div class= "back_avatar">
              <% @authors.shuffle.each do |author| %>  
                  <%= link_to (image_tag author.image_url(:small).to_s), author %>
              <% end %>
            </div>
          <% end %>
          <% if @author %>
            <%= image_tag @author.image_url.to_s, :class => "author_back" %>
          <% end %>
          <% if @micropost %>
            <%= image_tag @micropost.author.image_url.to_s, :class => "author_back" if @micropost.author %>
          <% end %>
        </div>
      </div>
      <section>
        <div class="raspas">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </section>
      <%= render 'layouts/footer' %>
      <%#= debug(params) if Rails.env.development? %>
    </div> 
  </body>
</html>