<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="pt-BR" />
    <meta name="description" content="crie, colecione e compartilhe pensamentos com o Raspas, a rede contemporânea de pensadores atemporais." />
    <meta name="google-site-verification" content="M4EZ5LyutNzTFZWcuBfubxatkAhSyctyJcLZ0zVhEKs" />
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%#= stylesheet_link_tag "application" %>
    <%#= javascript_include_tag "application" %>
    <%= render "layouts/async_javascript", path: "application" %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= render "layouts/analytics" %>
  </head>
  <body>  
    <div class="container">
      <div>
        <%= render 'layouts/header' %>
        <% if signed_in? %>
          <%= render 'layouts/raspas' %>
        <% end %>
        <%= render 'shared/background_image' %>
      </div>
      <section>
        <div class="raspas">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </section>
      <%= render 'layouts/footer' %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'shared/sharers' %>
  </body>
</html>