<!DOCTYPE html>
<html lang="pt">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
   <!--  <%= stylesheet_link_tag "application" %> -->
    <%= javascript_include_tag "application" %>


    <!-- GOOGLE +1 -->

    <script type="text/javascript">
      window.___gcfg = {lang: 'pt-BR'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <% if signed_in? %>
        <%= render 'layouts/raspas' %>
      <% end %>  
      <% if @author %>
        <%= image_tag @author.photo.url(:original), :class => "author_back" %>
      <% end %>
      <section>
        <div class="raspas">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </section>
      <!-- <%= render 'layouts/footer' %> -->
      <%#= debug(params) if Rails.env.development? %>
    </div> 

    <!-- FACEBOOK SHARER -->


        <div id='fb-root'></div>
        <script src='http://connect.facebook.net/pt_BR/all.js'></script>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '282523151767333', // App ID
              channelUrl : 'http://raspas.herokuapp.com/channel.html', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
            });

            // Additional initialization code here
          };

          // Load the SDK Asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/pt_BR/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
        </script>
  
        <script> 
            FB.init({appId: "282523151767333", status: true, cookie: true});

            function postToFeed() {

              // calling the API ...
              var obj = {
                method: 'feed',
                link: 'https://raspas.herokuapp.com/',
                picture: 'http://fbrell.com/f8.jpg',
                name: .html('<%= micropost.content %>'), 
                caption: 'Reference Documentation',
                description: 'Using Dialogs to interact with users.'
              };

              function callback(response) {
                document.getElementById('msg').innerHTML = "compartilhado!";
              }

              FB.ui(obj, callback);
            }
          
        </script>


  </body>
</html>