<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta name="google-site-verification" content="M4EZ5LyutNzTFZWcuBfubxatkAhSyctyJcLZ0zVhEKs" />
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
   <!--  <%= stylesheet_link_tag "application" %> -->
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <% if signed_in? %>
        <%= render 'layouts/raspas' %>
      <% end %>  
      <%# if @author %>
        <%#= image_tag @author.image_url.to_s, :class => "author_back" %>
      <%# end %>
      <%# if @micropost %>
        <%#= image_tag @micropost.author.image_url.to_s, :class => "author_back" if @micropost.author %>
      <%# end %>
      <section>
        <div class="raspas">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </section>
      <%#= render 'layouts/footer' %>
      <%#= debug(params) if Rails.env.development? %>
    </div> 
  </body>
</html>