<!DOCTYPE html>
<html lang="pt">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
   <!--  <%= stylesheet_link_tag "application" %> -->
    <%= javascript_include_tag "application" %>


    <!-- GOOGLE +1 -->

    <script type="text/javascript">
      window.___gcfg = {lang: 'pt-BR'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

  </head>
  <body>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=282523151767333";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <%= render 'layouts/header' %>
      <% if signed_in? %>
        <%= render 'layouts/raspas' %>
      <% end %>  
      <% if @author %>
        <%= image_tag @author.photo.url(:original), :class => "author_back" %>
      <% end %>
      <section>
        <div class="raspas">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </section>
      <!-- <%= render 'layouts/footer' %> -->
      <%#= debug(params) if Rails.env.development? %>
    </div> 
  </body>
</html>