<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta https-equiv="Content-type" content="text/html; charset=utf-8">
    <meta https-equiv="content-language" content="pt-BR" />
    <meta name="description" content="Passe seu conhecimento adiante. Crie, colecione e compartilhe pensamentos com o Raspas." />
    <meta name="google-site-verification" content="M4EZ5LyutNzTFZWcuBfubxatkAhSyctyJcLZ0zVhEKs" />
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%#= stylesheet_link_tag "application" %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <%= javascript_include_tag "application" %>
    <%#= render "layouts/async_javascript", path: "application" %>
    <%= csrf_meta_tag %>
    <%= render "layouts/analytics" %>
  </head>
  <body>  
    <div class="container">
      <% cache "pattern" do %>
        <div class= "pattern"></div>
      <% end %>
      <div>
        <%= render 'layouts/header' %>
        <% if signed_in? %>
          <%= render 'layouts/raspas' %>
        <% end %>
        <%= render 'shared/background_image' %>
      </div>
      <section>
        <div class="raspas">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </section>
      <%= render 'layouts/footer' %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'shared/sharers' %>
  </body>
</html>